/* 헤더 부분 시작 */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

.container {
    font-family: "Elice Digital Baeum",sans-serif;
  }
  
  nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 0px 145px 0px 0px;
  }
  
  .menu div {
    margin-left: 70px;
    
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 800;
  }
  
  .menu a:hover {
    color: rgb(20, 20, 20);
  }
  
  .menu2 {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .login {
    margin-right: 20px;
  }
  
  .bucket {
    margin-left: 15px;
  }
  
  .menu2 a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 800;
  }
  
  .menu2 a:hover {
    color: rgb(20, 20, 20);
  }
  /* 헤더 끝 */
  .container1 {
    font-family: "Elice Digital Baeum",sans-serif;
    background-color: #fff;
  }
  
  .main-div {

    width: 530px;
    padding: 4rem 6rem 0rem 4rem;
  }

  .big_box {
    display: flex;
    background: linear-gradient(to bottom,#8bbdf8 -75%,#e9f3fb 89%);
    justify-content: center;
    padding: 100px 0px 100px 0px;
  }

  .back-box {
    content: "";
    display: block;
    max-width: 100%;
    height: 100%;
  }

  .panel_login {
    margin-bottom: 1rem;
    color: #000;
    font-weight: 700;
    font-size: 2rem;
  }

  .login-text {
    margin: 30px 0px 0px 0px;
  }

  .login-button {
    display: block;
    width: 100%;
    height: 5.4rem;
    margin: 0;
    padding: 1.6rem 2rem;
    border: 1px solid #00256c;
    border-radius: .2rem;
    background-color: #00256c;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.58;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .join-text {
    margin: 70px 0px 0px 0px;
    position: relative;
  }

  .join-box {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5.4rem;
    background-color: #e6f9ff;
    color: #00256c;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.58;
    text-decoration: none;
  }

  .panel_id {
    display: block;
    margin-bottom: .2rem;
    color: #767676;
    line-height: 1.58;
  }

  .panel_password {
    display: block;
    margin-bottom: .2rem;
    color: #767676;
    line-height: 1.58;
  }

  .form-check-input {
    padding-left: 3rem;
    line-height: 1.5;
  }

  .form-check-label {
    display: inline-block;
    position: relative;
    padding-left: 3px;
    color: #000;
    line-height: 1.58;
    text-indent: 0;
  }

  .form-check {
      margin-top: 5px;
      margin-bottom: 5px;
  }

    /* 푸터시작 */
    .imformation_form {
        font-family: "Elice Digital Baeum",sans-serif;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(235, 235, 235);
      }
    
      
      .footer-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 20px 20px 20px
      }
      
      .imformation_text1 {
        color: rgb(145, 145, 145);
      }
      
      .imformation_text2 {
        color: rgb(145, 145, 145);
      }
      
      .imformation_text3 {
        margin-top: 10px;
      }
      
      .imformation-icon {
        display: inline-block;
        margin-left: 550px;
        margin-bottom: 60px;
      }