* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  font-family: "Elice Digital Baeum", sans-serif;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin: 0px 145px 0px 0px;
}

.menu div {
  margin-left: 70px;
}

.menu a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: 800;
}

.menu a:hover {
  color: rgb(20, 20, 20);
}

.menu2 {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.login {
  margin-right: 20px;
}

.bucket {
  margin-left: 15px;
}

.menu2 a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: 800;
}

.menu2 a:hover {
  color: rgb(20, 20, 20);
}
/* 헤더 끝 */

.big_box {
  display: flex;
  background: linear-gradient(to bottom, #8bbdf8 -75%, #e9f3fb 89%);
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;
}

/* 서치박스 시작 */
.search_box {
  justify-content: center;
  background-color: rgb(255, 255, 255, 0);
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.search_form_table {
  display: flex;
  justify-content: center;
}

.search_form_title {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: 600;
}

.search_form_title2 {
  padding: 10px 0px 10px 8px;
  font-size: 12px;
  font-weight: 600;
}

.startcontent_reachcontent_box {
  display: flex;
}

.startcontent_box {
  width: 97%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.reachcontent_box {
  width: 97%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0px 0px 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.start_form_input {
  width: 97%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 1em;

  margin: 0px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.reach_form_input {
  width: 97%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 1em;

  margin: 0px 0px 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.category_box {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.seat_box {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.search_button {
  display: flex;
  justify-content: flex-end;
}

.search_button button {
  background-color: skyblue;
  color: white;
  width: 70px;
  height: 45px;
  font-weight: 700;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
}

.test {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
/* 서치박스 끝 */

/* 푸터시작 */
.imformation_form {
  font-family: "Elice Digital Baeum", sans-serif;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
}

.footer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.imformation_text1 {
  color: rgb(145, 145, 145);
}

.imformation_text2 {
  color: rgb(145, 145, 145);
}

.imformation_text3 {
  margin-top: 10px;
}

.imformation-icon {
  display: inline-block;
  margin-left: 550px;
  margin-bottom: 60px;
}
